.pop {
  font-family: "Poppins", sans-serif;
}

.Noto {
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  width: 75%;
  max-width: 1120px; /* 最大サイズ */
  margin: 0 auto;
  overflow: hidden;
}

.container-style3 {
  width: 75%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 上揃えに */
}

.flex2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background-image: url(b004.gif);
  background-size: cover;
  background-position: top;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #eceeee;
  z-index: 100;
  border-bottom: 0px solid #000000;
  height: 50px;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  text-decoration: none;
}

.header_menu {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 25px;
  height: 25px;
  justify-content: space-between;
  margin-left: auto;
}

.menu-icon span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
}

.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .header_menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 50px;
    right: 0;
  }

  .menu-icon {
    display: flex;
  }

  .menu-toggle:checked ~ nav .header_menu {
    display: flex;
  }

  .header_menu li {
    padding: 10px 0;
  }

  .header_menu a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
  }
}

@media (min-width: 769px) {
  .menu-icon {
    display: none;
  }
}

.header_menu li {
  margin-right: 20px;
}

.header_menu a {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
}

.header_menu a:hover {
  color: #3b9df3;
  transition: .3s;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 40px 0;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-text {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
}

.social-icon img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  transition: transform 0.3s;
}

.social-icon img:hover {
  transform: scale(1.1);
}

.social-icon {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  opacity: 0.8;
}

main {
  margin-top: 55px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form {
  background-color: #fff;
  width: 100%;
  max-width: 640px;
  height: 600px;
  border: none;
  margin: 20px 0;
}

.kyousitu-img {
  width: 50%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.kyousitu-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
}

.demae-img {
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demae-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

